# Auto detect text files and perform LF normalization
* text=auto eol=lf

/.github export-ignore
/.composer-cache export-ignore
/.phpunit.cache export-ignore
/reference export-ignore
/tests export-ignore
/implementation-plan.md export-ignore
/prd.md export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
